.main {
  background:#EFF0F2 ;
  padding-bottom: 60px;
}

.bg-main {
  margin: 0px 80px 28px 32px;
  background: white;
  padding: 100px 0px 80px 0px;
}

.bg-white {
  background: white;
  margin: 0px 80px 28px 32px;
}



@media screen and (max-width: 430px) {
  .bg-main {
    margin: 20px 20px 16px 20px;
    padding: 60px 10px 50px 10px;
    border-radius: 20px;
  }
  .bg-white {
    margin: 0px 24px 28px 24px;
    border-radius: 20px;
  }
  .main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
    